.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#console-box{
  height:100%;
  width: 30%;
  margin-bottom: 20%;
  margin-right: 13%;
  background-color: #000;
  color: #55ff55;
  float: right;
  display: inline-block;
}

#updated-form{
    height: auto;
    width: auto;
}